* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(153, 153, 153, 0.13);
    font-family: sans-serif;
}

#date {
    padding: 5vw 0 0 5vw;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 5vw;
}
.card {
    padding: 1rem 2rem;
    margin: 1vw;
    background-color: #005761;
    color: #fff;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .4s;
    backface-visibility: hidden;
    line-height: 1.7;
}

.card:hover {
    color: #000;
    background-color: #00AABD;
}